# Creación Dataset tesis

In [81]:
#Librerias necesarias

from  random import randint
import pandas as pd
import random

## TABLA 1 - identificacion del usuario

In [82]:
# ID 

usuario = []

for i in range (1,501):
    usuario.append (i)

In [83]:
len (usuario)

500

In [103]:
# Agregar el genero

genero = ['Hombre', 'Mujer']

sexo = []

for i in range (500):
    sexo.append (genero[randint (0,1)])

In [85]:
edad = []

for i in range (500):
    edad.append (randint(18,70))

In [86]:
# Ciudad
lista_ciudades = ['Vigo', 'Zaragoza', 'Bilbao', 'Valladolid', 'Cordoba', 'Malaga', 'Valencia', 'Gijón', 'Alicante', 'Sevilla', 'Las Palamas de GC', 'Murcia', 'Palma', 'Barcelona', 'Madrid ' ]

ciudad = []

for i in range (500):
    ciudad.append (lista_ciudades[randint(0,14)])

In [87]:
len (ciudad)

500

In [88]:
# Promedio gasto mensual 

gasto= []

for i in range (500):
    gasto.append (randint(5,500))

In [89]:
# Miembro plus
miembro_plus= []

for i in range (500):
    miembro_plus.append (randint(0,1))

In [90]:
# Dispositivo

lista_dispositivo = ['PC', 'Movil']

dispositivo= []


for i in range (500):
    dispositivo.append (lista_dispositivo[randint (0,1)])

In [91]:
#Tiempo en la pagina mensual

tiempo = []

for i in range (500):
   tiempo.append (round(random.uniform(0.55, 7.00),2))

In [113]:
#Diccionario de usuarios
diccionario_usuarios = {    
     'Usuario': usuario,
     'Genero': sexo,
     'Edad': edad,
     'Ciudad': ciudad,
     'Gasto_mes': gasto,
     'Miembro_plus': miembro_plus,
     'Dispositivo': dispositivo,
     'Tiempo_mes': tiempo 
 }

In [114]:
df0 = pd.DataFrame( diccionario_usuarios)

In [115]:
df0

,Usuario,Genero,Edad,Ciudad,Gasto_mes,Miembro_plus,Dispositivo,Tiempo_mes
0,1,Mujer,25,Zaragoza,130,0,Movil,0.73
1,2,Hombre,41,Alicante,328,0,PC,4.56
2,3,Mujer,70,Bilbao,59,0,PC,3.75
3,4,Mujer,29,Palma,271,1,Movil,4.16
4,5,Mujer,64,Sevilla,267,0,PC,3.18
...,...,...,...,...,...,...,...,...
495,496,Mujer,21,Valencia,222,0,PC,6.10
496,497,Mujer,52,Murcia,268,1,PC,3.56
497,498,Hombre,44,Madrid,380,1,Movil,1.95
498,499,Mujer,60,Gijón,461,0,Movil,3.91
499,500,Hombre,30,Bilbao,487,1,Movil,6.65

In [ ]:
# Lista de categorias

categorias = ['Deporte', 'Electronica', 'Cocina', 'Ropa', 'Zapatos', 'Juguetes', 'Hogar', 'Baño', 'Ferreteria', 'Libros', 'Accesorios']

categoria_lista = []

for i in range (10000):
    categoria_lista.append (categorias[randint(0,10)])

In [96]:
df1 = pd.DataFrame (
    {'Usuario': usuario, 
     'Genero': sexo,
     'Edad': edad,
     'Categorias': categoria_lista
    }
    
)

ValueError: arrays must all be same length

In [ ]:
df1.head()

In [ ]:
df0.info()